body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
	min-width: 960px;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.container {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}

/* СТИЛИ ДЛЯ ХЕДЕРА */
				
.main-header {
	height: 320px;
	background-color: #f1f5f7;
}


				/* СТИЛИ ДЛЯ main-header-top */

.main-header-top {
	height: 42px;
	color: #ffffff;
	background-color: #293449;
	font-size: 17px;
	line-height: 18px;
}

.main-header-top .container {
	display: flex;
}

.main-header .main-header-logo {
	display: block;
	width:220px;
	height:47px;
	font-size:24px;
	line-height:24px;
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
	text-align: center;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom: 5px solid #b52933;
}

.main-header .main-header-logo:hover {
	background-color: #ca2c37;
	border-bottom: 5px solid #9a212a;
}

.main-header .main-header-logo:active {
	background-color: #ba2732;
	border-bottom: 5px solid #8e1e26;
}

.search-form {
	width: 270px;
	display: flex;
	flex-direction: row-reverse;
}

.search-input {
	width: 220px;
	height: 42px;
	padding-top: 7px;
	padding-right: 20px;
	padding-bottom: 9px;
	padding-left: 0;
	font: inherit;
	color: #ffffff;
	background-color: #293449;
	font-size: 17px;
	line-height: 18px;
	border: none;
	outline: none;
}

.search-input::-webkit-input-placeholder {
	color: #ffffff;
}

.search-label {
	flex-grow: 1;
	padding: 12px 14px 0 17px;
	margin-bottom: 5px;
}

.icon-search {
	fill: #ffffff;
	background-color: transparent;
	opacity: 0.3;
}

.search-input:hover,
.search-input:hover ~ .search-label {
	color: #ffffff;
	background-color: #212a3a;
}

.search-input:hover ~ .search-label .icon-search {
	background-color: transparent;
	opacity: 1;
}

.search-input:focus {
	color: #000000;
	background-color: #ffffff;
}

.search-input:focus::-webkit-input-placeholder {
	color: #000000;
}

.search-input:focus ~ .search-label {
	background-color: #ffffff;
}

.search-input:focus + .search-label .icon-search {
	fill: #ee3643;
	opacity: 1;
}

.search-input:active + .search-label .icon-search {
	opacity: 0.5;
	background-color: transparent;
}

.main-header-top a {
	display: block;
	width: 150px;
	height: 42px;
	color: #ffffff;
	font-size: 17px;
	line-height: 18px;
	padding-top: 12px;
	margin: 0;
}

.main-header-top a:hover {
	background-color: #212a3a;
}

.main-header-top a:active {
	color: #8b8e94;
	background-color: #161d29;
}

.bookmark {
	position: relative;
	padding-left: 44px;
}

.bookmark::before {
	content: "";
	position: absolute;
	left: 17px;
	top: 12px;
	width: 14px;
	height: 16px;
	background-image: url("../img/icon-bookmark.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.bookmark:hover::before {
	opacity: 1;
}

.bookmark:active::before {
	opacity: 0.5;
}

.basket {
	position: relative;
	padding-left: 49px;
}

.basket::before {
	content: "";
	position: absolute;
	left: 18px;
	top: 12px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.basket:hover::before {
	opacity: 1;
}

.basket:active::before {
	opacity: 0.5;
}

.basket-full {
	background-color: #ee3643;
}

.main-header-top .basket-full:hover {
	background-color: #ee3643;
}

.main-header-top .basket-full:active::before {
	opacity: 0.5;
}

.main-header-top .btn-order {
	display: block;
	width: 150px;
	height: 42px;
	font: inherit;
	color: #ffffff;
	background-color: #63a63e;
	font-size: 17px;
	line-height: 18px;
	text-align: center;
}

.main-header-top a.btn-order:hover {
	background-color: #5fbb2d;
}

.main-header-top a.btn-order:active {
	color: #b6c8ae;
	background-color: #518534;
}

				/* СТИЛИ ДЛЯ main-header-center */

.main-header-center {
	display: flex;
	padding-top: 46px;
	padding-bottom: 38px;
	justify-content: space-between;
}

.main-header h1 {
	width: 300px;
	color: #ee3643;
	font-style: italic;
	font-weight: 400;
	font-size: 16px;
	line-height: 23px;
	margin: 0;
	padding-top: 4px;
	padding-right: 30px;
	padding-bottom: 0;
	padding-left: 52px;
}

.phone-address-wrapper {
	display: flex;
	width: 300px;
	flex-direction: column;   
}

.main-header .phone {
	position: relative;
	display: block;
	width: 270px;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 8px;
	padding-left: 30px;
	color: #ee3443;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	border: 3px solid #ffffff;
	margin: 0px;
	margin-bottom: 5px;
}

.main-header .phone::before {
	content: "";
	position: absolute;
	left: 12px;
	top: 11px;
	width: 19px;
	height: 19px;
	background-image: url("../img/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

.main-header .address {
	color: #32425c;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding-left: 9px;
}

.user-navigation {
	display: flex;
	width: 300px;
	list-style: none;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	padding-left: 18px;
}

.login-link {
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
	padding-right: 25px;
	padding-bottom: 12px;
	padding-left: 14px;
	color: #000000;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	width: 121px;
	height: 45px;
}

.login-link:hover {
	color: #ee3643;
}

.login-link:active {
	color: #cacaca;
}

.login-link path {
	opacity: 0.3;
}

.login-link svg {
	width: 20px;
	height: 17px;
	margin-top: 2px;
}

.login-link:hover path {
	opacity: 1;
	fill: #32425c;
}

.login-link:active path {
	opacity: 0.3;
}

.registration-link {
	display: block;
	padding-top: 12px;
	color: #000000;
	background-color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	text-align: center;
	width: 150px;
	height: 45px;  
}

.registration-link:hover {
	color: #ee3643;
}

.registration-link:active {
	color: #cacaca;
}

								/* СТИЛИ ДЛЯ main-header-center
								для catalog.html */

.user-navigation-wrapper {
	width: 300px;
	margin: 0;
}

.user-name-login {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 299px;
	background-color: #ffffff;
	margin-left: 1px;
	padding-left: 13px;
	padding-right: 10px;
}

.user-name {
	color: #000000;
	font-size: 21px;
	line-height: 21px;
	padding-left: 33px;
	padding-top: 12px;
	padding-bottom: 12px;
}

.user-name:active {
	color: #cacaca;
}

.user-name svg {
	position: absolute;
	left: 13px;
	top: 13px;
}

.user-name:hover path {
	opacity: 1;
	fill: #32425c;
}

.user-name:active path {
	opacity: 0.3;
}

.user-logout svg {
	position: absolute;
	left: 268px;
	top: 14px;
}

.user-logout:hover path {
		opacity: 1;
		fill: #32425c;
}

.user-logout:active path {
	opacity: 0.3;
}

.user-navigation-login {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 6px;
} 

.user-link {
	position: relative;
	color: #32425c;
	font-size: 16px;
	line-height: 18px;
	text-decoration-line: underline;
	margin: 0px;
	padding: 0px;
}

.user-link:hover {
	color: #ee3643;
}

.user-link:active {
color: #cacaca;
}

.user-link-order {
	margin-left: 18px;
	margin-right: 32px;
}

.user-link-order::after {
	position: absolute;
	content: "";
	width: 4px;
	height: 4px;
	top: 6px;
	left: 89px;
	border-radius: 50px;
	background-color: #32425c;
}

				/* СТИЛИ ДЛЯ main-navigation */

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	width: 940px;
	height: 60px;
	justify-content: space-between;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
	background-color: #32425c;
	color: #ffffff;
	border-bottom: 5px solid #293449;
}

.site-navigation-item {
	flex-grow: 1;
	text-align: center;
}

.site-navigation a {
	display: block;
	height: 60px;
	padding-top: 19px;
	padding-bottom: 19px;
	color: #ffffff;
	font-size: 17px;
	line-height: 17px;
}

.site-navigation a:hover {
	background-color: #293449;
}

.site-navigation a:active {
	color: #a1a4a8;
	background-color: #1d2739;
	border-color: #1d2739;
}

/* СТИЛИ ДЛЯ MAIN */

				/* стили для .bread-crumbs */

.bread-crumbs {
	margin: 0;
	padding: 0;
	display: flex;
	position: relative;
	list-style: none;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px; 
	background-color: #ffffff;
	text-transform: uppercase;
}

.bread-crumbs li {
	position: relative;
	padding-top: 21px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin-right: 40px;
}

.bread-crumbs a {
	color: #000000;
}

.icon-home {
	left: -2px;
	top: 1px;
}

.icon-right::before {
	position: absolute;
	content: "";
	left: -26px;
	top: 23px;
	width: 8px;
	height: 12px;
	background-image: url("../img/icon-right-small.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}

				/* СТИЛИ ДЛЯ КАТЕГОРИЙ ПРОМО */

.categories-promo-wrapper {
	display: flex;
	margin-bottom: 33px;
	margin-top: 59px;
}

.categories-wrapper-left {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 620px;
	margin: 0;
	margin-right: 20px;
	padding: 0;
}

.categories-promo-left {
	display: flex;
	margin: 0;
}

.categories-promo-left li {
	margin-right: 20px;
}

.categories-promo-right {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 0;
	padding: 0;
}

.categories-promo-right li {
	margin-bottom: 20px;
}

.categories-promo {
	list-style: none;
	margin: 0;
	padding: 0;
}

.categories-promo li {
	position: relative;
	width: 300px;
	height: 123px;
	list-style: none;
	padding: 0;
}

.categories-promo h3 {
	margin: 0;
	padding-left: 22px;  
	padding-top: 21px;
	font-size: 24px;
	line-height: 30px;
	color: #ffffff;
}

.categories-promo a {
	display: block;
	margin-top: 12px;
	margin-left: 23px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	width: 135px;
	height: 38px;
	text-align: center;
	padding-top: 11px;
	padding-bottom: 10px;
	border-radius: 3px; 
	background:rgba(0, 0, 0, 0.1);
}

.categories-promo-left a {
	margin-left: 25px;
}

.categories-promo a:hover {
	background:rgba(0, 0, 0, 0.2);
}

.categories-promo a:active {
	background:rgba(0, 0, 0, 0.3);
}

.categories-promo .flag{
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}
.categories-promo .flag-new{
	background: url("../img/new_flag.png") no-repeat 0 0;
}

.categories-promo-left li:nth-child(1) {
	background-color: #ffbf47;
	background-image: url(../img/bucket.svg);
	background-repeat: no-repeat;
	background-position: 213px 31px;
}

.categories-promo-left li:nth-child(2) {
	background-color: #3bbce3; 
	background-image: url(../img/drill.svg);
	background-repeat: no-repeat;
	background-position:  197px 33px;
}

.categories-promo-right li:nth-child(1) {
	background-color: #dc91d8;
	background-image: url(../img/tractor.svg);
	background-repeat: no-repeat;
	background-position:  191px 31px;     
}

.categories-promo-right li:nth-child(2) {
	background-color: #8ed78f; 
	background-image: url(../img/handcart.svg);
	background-repeat: no-repeat;
	background-position:  196px 26px;  
}

.categories-promo-right li:nth-child(3) {
	background-color: #ffc047;
	background-image: url(../img/delivery.svg);
	background-repeat: no-repeat;
	background-position:  191px 32px;   
}

				/* СТИЛИ ДЛЯ ПЕРЕКЛЮЧАТЕЛЕЙ СЛАЙДЕРА */

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 60px;
	z-index: 100;
	width: 100px;
	height: 18px;
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls i {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	padding: 8px;
	border-radius: 50%;
	cursor: pointer;
	padding-right: 13px;
}

.slider-controls i::after {
	content: "";
	position: absolute;
	top: 12px;
	left: 5px;
	z-index: 1;
	width: 10px;
	height: 10px;
	background: #ffffff;
	border-radius: 50%;
}

.slider-controls .active::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 110%;
	z-index: 2;
	width: 6px;
	height: 6px;
	margin: -4px;
	background-color: #ee3643;
	border: 2px solid #ee3643;
	border-radius: 50%;
}
	
				/* СТИЛИ ДЛЯ СЛАЙДЕРА ПРОМО */

.catalog-promo {
	list-style: none;
	margin: 0;
	padding: 0;
}

.catalog-promo li:nth-child(1) {
	width: 620px;
	height: 266px;
	background-image: url(../img/catalog_perforator.jpg);
	background-color: #685c53;
}

.catalog-promo li:nth-child(2) {
	width: 620px;
	height: 266px;
	background-image: url(../img/catalog_drill.jpg);
	background-color: #685c53;
}

.catalog-item-promo {
	display: none;
}

.catalog-item-promo:nth-child(2) {
	display: block;
}

.catalog-promo h3 {
	font-size: 36px; 
	line-height: 36px;
	color: #ffffff;
	font-weight: bold;
	padding: 0;
	margin: 0;
	padding-top: 23px;
	padding-left: 24px;
	text-transform: uppercase;
}

.catalog-promo p {
	padding: 0;
	padding-top: 2px;
	padding-left: 24px;
	margin: 0;
	font-size: 18px; 
	line-height: 24px;
	color: #ffffff;
	font-weight: 500;
}

.btn-main {
	padding-top: 11px;
	padding-bottom: 10px;
	font-size: 14px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ee3643;
	color: #ffffff;
	text-align: center;
	border: none;
	border-radius: 3px;
}

.btn-main:hover {
	background-color: #ca2c37;
}

.btn-main:active {
	background-color: #ba2732;
}

.btn-main-white {
	color: #000000;
	background-color: #ffffff;
}

.btn-main-white:hover {
	background-color: #ffffff;
}

.catalog-item-promo .catalog-btn {
	border: none;
	padding: 0;
}

.catalog-item-promo {
	position: relative;
}

.catalog-item-promo .catalog-btn-back::after {
	content: "";
	position: absolute;
	width: 22px;
	height: 40px;
	top: 114px;
	left: 24px;
	background-image: url(../img/icon-left.svg)
}

.catalog-item-promo .catalog-btn-next::after {
	content: "";
	position: absolute;
	width: 22px;
	height: 40px;
	top: 114px;
	right: 20px;
	background-image: url(../img/icon-right.svg);
}

.catalog-promo a {
	display: block;
	width: 195px;
	height: 38px;
	margin-top: 97px;
	margin-left: 26px;
}

				/* СТИЛИ ДЛЯ ПОПУЛЯРНЫХ ТОВАРОВ */

.popular-items-header {
	display: flex;
	width: 940px;
	padding-left: 28px; 
	padding-right: 24px;
	padding-top: 26px; 
	padding-bottom: 25px; 
	justify-content: space-between;
	align-items: center;
	background-color: #f9f5f0;
	margin-bottom: 20px;
}

.popular-items h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

.popular-items-header a {
	display: block;
	width: 253px;
	height: 38px;
}

.popular-list {
	display: flex;
	flex-wrap: wrap;
	width: 960px;
	margin: 0px;
	padding: 0px;
}

li.popular-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

li.popular-item:nth-child(4n) {
	margin-right: 0;
}

.popular-item {
	position: relative;
	width: 220px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	font-family: "PT sans", Arial, sans-serif;
	padding-bottom: 20px;
}

.popular-item .flag{
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 60px;
	text-indent: -1000px;
	overflow: hidden;
	z-index: 20;
}
.popular-item .flag-new{
	background: url("../img/new_flag.png") no-repeat 0 0;
}

.popular-item img {
	width: 218px;
	height: 160px;
}

.popular-list h3 {
	display: block;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	padding-left: 15px;
	padding-right: 15px;
	color: #000000;
	text-align: center;
	margin: 0;
	margin-top: 19px;
}

.popular-list .old-price {
	min-height:20px;
	margin-top:10px;
	margin-bottom:9px;
	padding-left: 2px;
	color:#999;
	text-decoration:line-through;
	font-size: 17px;
}

.popular-list .new-price {
	position: relative;
	width: 141px;
	margin-top: 0;
	margin-bottom: 0px;
	margin-left: 41px;
	margin-right: auto;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 28px;
	padding-right: 30px;
	color: white;
	background: #ee3643;
	border-radius: 3px;
	font-size: 17px;
}

.popular-list .new-price:after{
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.popular-item .actions {
	display: none;
}

.popular-item .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	padding: 35px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
}

.popular-item:hover .actions{
	display: block;
}

.popular-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
}

.actions .btn-buy {
	position: relative;
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315; 
	background-color: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;    
	border-radius: 3px;
}

.actions .btn-buy::before {
	content: "";
	position: absolute;
	left: 9px;
	top: 8px;
	width: 15px;
	height: 15px;
	background-image: url("../img/icon-cart.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}


.actions .btn-bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background-color: white;
	color: #32425c;
	font-size: 14px;
	font-weight: normal;
	font-family: "Cuprum", Arial, sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;    
	border-radius: 3px;
}


.actions .btn-buy:hover {
	background-color: #5fbb2d;
	border: 3px solid #5fbb2d;
	border-bottom-color: #367315;
}

.actions .btn-buy:active {
	background-color: #518534;
	border: 3px solid #518534;
}

.actions .btn-buy:hover::before {
	opacity: 1;
}

.actions .btn-buy:active::before {
	opacity: 1;
}

.actions .btn-bookmark:hover {
	border: 3px solid #32425c;
}

.actions .btn-bookmark:active {
	border: 3px solid #c1c6ce;
	color: #d0d2d6
}

				/* СТИЛИ ДЛЯ ПОПУЛЯРНЫХ
								ПРОИЗВОДИТЕЛЕЙ */

.popular-producer-header {
	display: flex;
	width: 940px;
	padding-left: 24px; 
	padding-right: 24px;
	padding-top: 27px; 
	padding-bottom: 25px; 
	justify-content: space-between;
	align-items: center;
	background-color: #f9f5f0;
	margin-bottom: 20px;
}

.popular-producer h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #32425c;
	margin: 0;
	padding: 0;
	font-weight: 500;
}

.popular-producer-header a {
	display: block;
	width: 253px;
	height: 38px;
}


.popular-producer ul{
	list-style: none;
	width: 940px;
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 65px;
}

.popular-producer-list {
	padding-left: 0;
}

.popular-producer li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 220px;
	height: 145px;
	border: 1px solid #eaeaea;
	text-align: center;
	vertical-align: middle;
	margin-right: 20px;
	margin-bottom: 20px;
}

.popular-producer .popular-producer-item:nth-child(4n) {
	margin-right: 0px;
}

.popular-producer .popular-producer-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
}

.popular-producer .popular-producer-item:active {
	opacity: 0.3;
}

				/* СТИЛИ ДЛЯ СЕРВИСА */

.service {
	background-color: #f4f8f9;
	margin-bottom: 70px;
} 

.service h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	padding-top: 65px;
	padding-bottom: 25px;
	font-weight: 500;
	margin: 0;
}

p.about-service {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px; 
	font-weight: 500;
	margin: 0;
	padding: 0;
	padding-top: 1px;
}

.service .service-list {
	position: relative;
	list-style: none;
	padding: 0;
	padding-top: 13px;
	margin: 0;
}

.service .service-list::after {
	position: absolute;
	content: "";
	width: 10px;
	height: 279px;
	top: -30px;
	left: 230px;
	background-image: url(../img/service_shadow.png);
}

.service-wrapper {
	display: flex;
	margin: 0;
	margin-top: 55px;
	padding-bottom: 102px;
}

.service-delivery p {
	margin: 0;
	padding: 0;
	padding-right: 340px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.service-delivery {
	position: relative;
}

.service-delivery::after {
	position: absolute;
	content: "";
	width: 468px;
	height: 261px;
	bottom: -129px;
	right: -2px;
	background-image: url(../img/delivery.png);
}

.service-guarantee p {
	margin: 0;
	margin-top: 24px;
	padding: 0;
	padding-right: 247px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.service-guarantee {
	display: none;
	position: relative;
}

.service-guarantee::after {
	position: absolute;
	content: "";
	width: 389px;
	height: 283px;
	bottom: -106px;
	right: -6px;
	background-image: url(../img/guarantee.png);
}

.service-credit p {
	margin: 0;
	margin-top: 24px;
	padding: 0;
	padding-right: 240px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
}

.service-credit {
	display: none;
	position: relative;
}

.service-credit::after {
	position: absolute;
	content: "";
	width: 465px;
	height: 285px;
	bottom: -116px;
	right: -100px;
	background-image: url(../img/credit.png);
}

.service-credit a {
	display: block;
	width: 195px;
	height: 38px;
	margin-top: 20px;
}

.btn-service {
	display: block;
	width: 240px;
	height: 61px;
	background-color: #32425c;
	color: #ffffff;
	font-size: 21px;
	line-height: 30px;
	font-weight: bold;
	font-family: "Cuprum", Arial, sans-serif;
	text-align: left;
	padding-left: 22px;
	border: none;
	border-top: 1px solid#4d637b;
}

.btn-service:hover {
	background-color: #293449;
}

.btn-service-current:hover {
	background-color: #ffffff;
}

.btn-service-current {
	display: block;
	width: 240px;
	height: 61px;
	background-color: #ffffff;
	color: #32425c;
	font-size: 21px;
	line-height: 30px;
	border-top: none;
}


.service .service-caption {
	list-style: none;
	margin: 0;
	margin-left: 80px;
	padding: 0;
	padding-top: 13px;
}

.service-caption h3 {
	font-size: 36px;
	line-height: 36px;
	text-transform: uppercase;
	color: #32425c;
	font-weight: 500;
	padding: 0;
	margin: 0;
	margin-bottom: 23px;
}
				/* СТИЛИ ДЛЯ "О НАС" и "Контакты"" */

								/* стили для "О НАС"  */

.about-us-contacts-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 85px;
}

.about-us {
	width: 540px;
	margin: 0;
	padding: 0;
}

.about-us h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.about-us p {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px; 
	font-weight: 500;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 8px;
}

p.about-us-p {
	padding-right: 140px;
}

.about-us .transport-list {
	position: relative;
	list-style: none;
	font-size: 18px;
	line-height: 20px; 
	padding: 0;
	margin: 0;
	margin-bottom: 16px;
	padding-top: 13px;
	padding-left: 36px;
}

.transport-item {
	padding-bottom: 20px;
}

.transport-item::before {
	position: absolute;
	content: "";
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	left: 0px;
	margin-top: 9px;
}

.about-us a {
	display: block;
	width: 220px;
	height: 38px;
}

			/* стили для "КОНТАКТЫ" */

.contacts {
	width: 300px;
	margin: 0px;
	padding: 0px;
}

.contacts h2 {
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contacts p {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 24px; 
	font-weight: 500;
	margin: 0;
	padding: 0;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-right: 80px;
}

.contacts img {
	margin-top: 20px;
	margin-bottom: 33px;
}

.contacts a {
	display: block;
	padding-top: 11px;
	padding-right: 10px;
	padding-bottom: 9px;
	padding-left: 15px; 
}

a.btn-popup-map {
	padding: 0;
}

		/* СТИЛИ ДЛЯ ФУТЕРА */

.main-footer {
	background-color: #32425c;
}

.footer-top-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.main-footer .main-footer-logo {
	display: inline-block;
	width: 220px;
	height: 68px;
	font-size: 30px;
	line-height: 30px;
	color: #ffffff;
	background-color: #ee3643;
	text-transform: uppercase;
	text-align: center;
	padding-top: 18px;
	border-bottom: 5px solid #b52933;
	font-weight: 500;
	vertical-align: middle;
}

.main-footer .main-footer-logo:hover {
	color:rgb(255,255,255);
	background-color: rgb(202,44,55);
	border-bottom: 5px solid rgb(154,33,42);
}

.main-footer .main-footer-logo:active {
	color:rgb(255,255,255);
	background-color: rgb(186,39,50);
	border-bottom: 5px solid rgb(142,30,38);
}

.main-footer .footer-site-navigation,
.main-footer .footer-categories {
	list-style: none; 
}

.footer-site-navigation {
	display: flex;
	justify-content: space-between;
	width: 588px;
	padding: 0;
	padding-left: 40px;
	padding-top: 20px;
	font-weight: 500;
	font-size:18px;
	line-height:24px;
}

.footer-navigation a {
	background-color: rgb(50,66,92);
	color: rgb(255,255,255);
}

.footer-navigation a:hover {
	text-decoration: underline;
}

.footer-navigation a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-middle-wrapper {
	display: flex;
	justify-content: space-between;
	padding-top: 5px;
}

.footer-contacts-list p{
	font-size:18px;
	line-height:24px;
	font-weight: 500;
	color: #ffffff;
	margin: 0;
	padding: 0;
	padding-top: 1px;
	padding-left: 3px;
}

.footer-contacts:last-child {
	padding-bottom: 48px;
}

.footer-categories {
	display: flex;
	justify-content: space-between;
	width: 525px;
	padding: 0;
	padding-top: 1px;
	margin: 0;
}

.footer-categories a {
	background-color: rgb(50,66,92);
	color: #ffd180;
	font-size:18px;
	line-height:24px;
	font-weight: 500;
}

.footer-categories a:hover {
	text-decoration: underline;
}

.footer-categories a:active {
	text-decoration: none;
	opacity: 0.5;
}

.footer-menu-bottom {
	background-color: #293449;
	color: #ffffff;
}

.footer-menu-bottom .container {
	display: flex;
	padding-top: 37px;
	padding-bottom: 34px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.footer-copyrigth {
	width: 300px;
	padding-right: 60px;
}

.footer-social {
	display: flex;
	justify-content: center;
	width: 300px;
	margin: 0;
	padding: 0;
	padding-left: 16px;
}
	
.footer-social .btn-social {
	display: block;
	width: 40px;
	height: 40px;
	background-color: #212a3a;
	border-radius: 50px;
	margin-right: 5px;
}

.footer-social .btn-social-vk {
	background-image: url(../img/icon-vk.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.footer-social .btn-social-fb {
	background-image: url(../img/icon-fb.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.footer-social .btn-social-insta {
	background-image: url(../img/icon-insta.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.footer-social .btn-social:hover {
	background-color: #ee3643;
}

.feedback-developed-wrapper{
	display: flex;
	width: 300px;
}

.feedback-developed-wrapper .footer-feedback {
	padding-left: 40px;
}

.feedback-developed-wrapper .footer-developed {
	padding-left: 52px;
}

.footer-menu-bottom .footer-social {
	list-style: none;
}

.footer-feedback a {
	color: #ffd180;
}

.footer-feedback a:hover {
	text-decoration: underline;
}

.footer-feedback a:active {
	text-decoration: none;
	color: #ee3643;
}

.footer-developed a {
	color: #ffd180;
}

.footer-developed a:hover {
	text-decoration: underline;
}

.footer-developed a:active {
	text-decoration: none;
	color: #ee3643;
}

		/* СТИЛИ ДЛЯ СТРАНИЦЫ КАТАЛОГА */

.filters ul,
.catalog-header ul,
.catalog ul {
	list-style: none;
}

.catalog-page {
	margin: 0;
	margin-bottom: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-left: 27px;
	padding-bottom: 29px;
	background-color: #f2f6f8;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px; 
	font-weight: 500;
	color: #32425c;
}

.catalog-page-wrapper {
	display: flex;
	margin-bottom: 60px;
}

/* стили для фильтра */

.filters {
	margin-right: 20px;
}

.filters h4 {
	display: block;
	width: 220px;
	height: 38px;
	margin: 0px;
	padding-left: 19px;
	padding-top: 10px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px; 
	font-weight: 500;
	background-color: #f7f3ec;
	color: #000000;
	text-transform: uppercase;
	box-sizing: border-box;
}

.filters fieldset {
	border: none;
	padding: 0px;
	margin: 0px;
}

.filters fieldset:nth-child(1),
.filters fieldset:nth-child(2) {
	border-bottom: 1px solid #e5e5e5;
}  

/* фильтр цены */

.filter-item {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px; 
	margin: 0;
	padding: 0;
	border: none;
}

.range-filter {
	padding: 0;
	margin: 0;
	width: 220px;

}

.filter-item legend {
	padding-top: 11px;
	padding-bottom: 14px;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: 700;
}

.range-controls {
	position: relative;
	padding: 0;
	margin: 0;
	height: 80px;
	margin-bottom: 10px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #f7f3ec;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 85%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0;
	width: 20px;
	height: 22px;
	padding: 0;
	background-image: url(../img/filter-button.svg);
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 20px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	display: flex;
	justify-content: space-between;
	margin-bottom: 26px;
}

.price-controls label {
	padding: 0;
	margin: 0;
	font-size: 17px;
	text-transform: uppercase;
}

.price-controls input {
	width: 95px;
	margin: 0;
	padding-top: 8px;
	padding-bottom: 9px;
	text-align: center; 
	border: none;
	background: #f7f3ec;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

.dash {
	width: 10px;
	border-top: 1px solid black;
	margin-top: 18px;
}

			/* фильтр производителей */

.filters .filter-producer {
	margin-top: 22px;
	padding-top: 20px;
	padding-bottom: 2px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px; 
	background-color: #ffffff;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.filter-producer-list .filter-option {
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 500;
}


.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
	position: absolute;
	width: 27px;
	height: 23px;
	top: -2px;
	left: -34px;
	background-image: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
	opacity: 0.7;
}

.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator {
	opacity: 1;
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	background-image: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.filters .filter-producer-list {
	margin: 0;
	padding: 0;
	padding-left: 34px;   
}
			/* фильтр питания */

.filters .filter-energy {
	margin-top: 23px;
	padding-top: 20px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px; 
	background-color: #ffffff;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}

.filter-energy .filter-option {
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: 20px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #000000;
	text-transform: uppercase;
	font-weight: 500;
}

.filter-radio input[type="radio"] + .radio-indicator {
	position: absolute;
	width: 25px;
	height: 25px;
	top: -2px;
	left: -34px;
	background-image: url(../img/radio-off.svg);
	background-repeat: no-repeat;
	opacity: 0.7;
}

.filter-radio input[type="radio"]:hover + .radio-indicator {
	opacity: 1;
}

.filter-radio input[type="radio"]:checked + .radio-indicator::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	background-image: url(../img/radio-on.svg);
	background-repeat: no-repeat;
	opacity: 0.7;
}

.filter-radio input[type="radio"]:checked:hover + .radio-indicator::after {
	opacity: 1;
}

.filter-energy-list {
	padding: 0;
	margin: 0;
	padding-left: 34px;
	margin-bottom: 57px;
}
	
/* кнопка фильтра */

.btn-catalog {
	font-family: "PT sans", Arial, sans-serif;
	padding-top: 6px;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
}

.filters button {
	display: block;
	width: 140px;
	height: 38px;
}

/* СТИЛИ ДЛЯ КАТАЛОГА ТОВАРА */
	
			/* СТИЛИ ДЛЯ ШАПКИ КАТАЛОГА ТОВАРА */

.catalog-header {
	display: flex;
	justify-content: space-between;
	width: 700px;
	height: 38px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
}

.catalog-header h4 {
	font-family: "PT sans", Arial, sans-serif;
	margin: 0px;
	font-size: 13px;
	line-height: 14px;
	color: #000000;
	font-weight: 500;
	text-transform: uppercase;
	padding-left: 19px;
	padding-top: 12px;
}

.catalog-header ul {
	position: relative;
	display: flex;
	width: 500px;
	align-items: center;
	margin: 0;
	padding: 0;
}

.catalog-header li {
	margin-right: 10px;
	margin-left: 29px;
	padding-right: 22px;
	padding-left: 10px;
}

.catalog-header a {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 14px;
	color: #c4c1bb;
	text-transform: uppercase;
	border-bottom: 1px dotted #ee3643;
}

.catalog-header a:hover {
	color: #000000;
	border-bottom: 1px solid #ee3643;
}

.sort-current a {
	color: #ee3643;
	border: none;
}

.catalog-header .ascending-sort {
	position: absolute;
	right: 17px;
}

.descending-sort a,
.ascending-sort a {
	border: none;
}

.descending-sort:hover a,
.ascending-sort:hover a {
	border: none;
}

.catalog-header .descending-sort {
	position: absolute;
	right: -15px;
}

.ascending-sort path,
.descending-sort path {
	fill: #c5c5c5;
}

.ascending-sort-on path {
	fill: #ee3643;
}

.descending-sort:hover path,
.ascending-sort:hover path {
	fill: #000000;
}

				/* стили для товаров КАТАЛОГА ТОВАРА */

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	margin: 0px;
	margin-bottom: 32px;
	padding: 0px;
}

li.catalog-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #eaeaea;
}

li.catalog-item:nth-child(3n) {
	margin-right: 0px;
}

.catalog-item {
	position: relative;
	width: 220px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	font-family: "PT sans", Arial, sans-serif;
	padding-bottom: 20px;
}

.catalog-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41,52,73,0.5);
}

.catalog-item .flag{
	position:absolute;
	top:-1px;
	right:-1px;
	width:60px;
	height:60px;
	text-indent:-1000px;
	overflow:hidden;
	z-index:20;
}
.catalog-item .flag-new{
	background:url("../img/new_flag.png") no-repeat 0 0;
}

.catalog-item .actions {
	display: none;
}

.catalog-item .actions {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	padding: 45px 0;
	background-color: rgba(255, 255, 255 ,0.9);
	z-index: 10;
}

.catalog-item:hover .actions{
	display: block;
}

.catalog-list h5 {
	display: block;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #000000;
	width: 190.9px;
	max-height: 63px;
	text-align: center;
	margin: 0;
	margin-top: 19px;
}

.catalog-list .old-price {
	display: block;
	min-height: 18px;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	color: #a9a9a9;
	text-decoration: line-through;
	margin-top: 11px;
}

.catalog-list .new-price {
	position: relative;
	display: block;
	font-family: "PT sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px; 
	width: 141px;
	height: 38px;
	color: #ffffff;
	background-color: #ee3643;
	padding: 0;
	padding-top: 10px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-left: 7px;
	border-radius: 3px;
}

.catalog-list .new-price:after{
	content: "";
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

		/* СТИЛИ ДЛЯ НУМЕРАЦИИ СТРАНИЦ КАТАЛОГА ТОВАРА */

ul.pagination-list {
	display: flex;
	padding: 0;
	margin: 0;
}

.pagination-item {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	border: 1px solid #eaeaea;
	width: 38px;
	height: 38px;
	line-height: 18px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	margin-right: 10px;
	border-radius: 5%;
}

.pagination-item a {
	color: #000000;
}

li.btn-catalog.pagination-item {
	width: 140px;
}

.pagination-item:hover {
	border-color: #bdc6ca;
}

.pagination-item:active {
	border-color: #ee3643;
}

.pagination-item-current {
	background-color: #ee3643;
	border: none;
}

.pagination-item-current a {
	color: #ffffff;
}

	/* стили для описания в каталоге */

.description {
	width: 100%;
	background-color: #f2f6f8;
	font-family: "PT sans", Arial, sans-serif;
	padding-top: 65px;
	padding-bottom: 68px;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-weight: 500;
}

.description h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;
	font-weight: 500;
	margin: 0;
	margin-bottom: 26px;
}

.description  p{
	margin: 0;
}

/* СТИЛИ ДЛЯ МОДАЛОК */

.modal {
	position: fixed;
	background-color: #ffffff;
	color: #000000;
	font-size: 18px;
	line-height: 18px;
	z-index: 20;
}

.modal-close {
	position: absolute;
	top: 9px;
	right: 9px;
	width: 21px;
	height: 21px;
	background-color: transparent;
	background-image: url(../img/icon-close.svg);
	font-size: 0;
	border: 0;
	z-index: 2;
}

	/* СТИЛИ ДЛЯ "НАПИШИТЕ НАМ" (ПОПАП) */

.modal-write-us {
	display: none;
	top: 190px;
	left: 50%;
	width: 620px;
	margin-left: -310px;
	font-weight: 500;
	border-top: 7px solid #ff5257;
	box-shadow: 0 20px 50px rgba(0,0,0,0.7);
}

.form-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 47px;
	padding-right: 80px;
	padding-left: 80px;
}

.write-us-item {
	width: 220px;
	padding: 0;
	margin: 0;
}

.write-us-item input {
	width: 220px;
}

.write-us-item-message {
	width: 100%;
	padding: 0;
	margin: 0;
}

.write-us-item-message textarea {
	width: 100%;
}

.write-us-item label,
.write-us-item-message label {
	display: block;
	margin-bottom: 9px;
}

.write-us-item input,
.write-us-item-message textarea {
	font-size: 13px;
	line-height: 18px;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	padding-left: 13px;
	padding-right: 13px;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 21px;
}

.write-us-item-message textarea {
	padding-bottom: 12px;
}

.write-us-item input:hover,
.write-us-item-message textarea:hover {
	border: 2px solid #b5b5b5;
}

.write-us-item input:focus,
.write-us-item-message textarea:focus {
	border: 2px solid #ee3643;
	outline: none;
}

.write-us-item input[type="text"]::-webkit-input-placeholder,
.write-us-item input[type="email"]::-webkit-input-placeholder,
.write-us-item-message textarea::-webkit-input-placeholder {
	font-family: "PT sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px; 
	font-weight: 500;
	color: #a9a9a9;
}

.submit-area {
	display: flex;
	justify-content: space-between;
	margin-top: 12px;
	padding: 0;
	background-color: #f4f4f4;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 37px;
	padding-bottom: 37px;
}

.submit-area button {
	width: 100%;
}

	/* СТИЛИ ДЛЯ КАРТЫ (ПОПАП) */

.modal-map {
	display: none;
	top: 50%;
	left: 50%;
	width: 970px;
	height: 476px;
	margin-top: -238px;
	margin-left: -485px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.7);
}

.modal-map p {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	margin: 0;
}

.modal-map iframe {
	position: relative;
	z-index: 2;
	border: none;
}

/* СТИЛИ ДЛЯ В КОРЗИНУ (ПОПАП) */

.modal-cart {
	display: none;
	top: 50%;
	left: 50%;
	width: 620px;
	font-size: 30px;
	line-height: 30px;
	margin-left: -310px;
	font-weight: 500;
	border-top: 7px solid #ff5257;
	box-shadow: 0 20px 50px rgba(0,0,0,0.7);
}

.modal-cart p {
	margin-top: 63px;
	margin-bottom: 70px;
	margin-left: 178px;
	
}

.modal-cart p::before {
	content: "";
	position: absolute;
	width: 66px;
	height: 66px;
	top: 50px;
	left: 80px;
	background-image: url(../img/icon-mark.svg);
	background-repeat: no-repeat;
}

.submit-area a {
	width: 200px;
}

@keyframes bounce {
	0% { transform: translateY(2000px); }
	70% { transform: translateY(-60px); }
	90% { transform: translateY(20px); }
	100% { transform: translateY(0); }
}

@keyframes shake {
	0%, 100% { transform: translateX(0); }
	10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
	20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-show {
	display: block;
	animation-name: bounce;
	animation-duration: 0.7s;
}

.modal-error {
	animation-name: shake;
	animation-duration: 0.6s;
}